/*	
// Created: July 15, 2017 18:00
// Author: Chris Jalallian
// Revisions: 
*/
body {
	font-family: 'Montserrat', sans-serif;
}

#jumbo-main-bg {
	background-color: #000000;
	padding: 15px 0px;
}

#office-logo {
	display: block;
	margin: auto;
	width: 30%;
}

.time-container, .dynamic-question-container, .dynamic-answer-container, .start-container {
	border: none;
}

#time-placeholder {
	font-size: 7px;
	visibility: hidden;
}

.answer-images {
	width: 400px;
}
