/*	
// Created: July 15, 2017 18:00
// Author: Chris Jalallian
// Revisions: 
*/
body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../images/background.jpg");
	background-size: 100%;
}

.btn-default, .panel {
	background-color: rgba(255, 255, 255, 0.55);;
}

#jumbo-main-bg {
	background-color: #000000;
	padding: 15px 0px;
}

#office-logo {
	display: block;
	margin: auto;
	width: 30%;
}

.time-container, .dynamic-question-container, .dynamic-answer-container, .start-container {
	border: none;
}

h4, .time-padding {
	padding: 5px;
}

.answer-images {
	width: 400px;
}
